---
---

@import "reset";
@import "variables";

/* 
Breakpoints
'sm': '640px'
'md': '768px'
'lg': '1024px'
'xl': '1280px' 
*/

/* Site styles */

html {
  font-size: 100%;
}

body {
  font-size: var(--text-size-base);
  font-family: var(--font-family-sans-serif);
  line-height: var(--base-line-height);
  color: var(--lt-base-text-color);
  background-color: var(--lt-bg-color);
}

a {
  color: var(--lt-link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.link-underline {
  color: var(--lt-base-text-color);
  text-decoration: underline;
}

a.link-underline:hover {
  text-decoration: none;
}

/* Util styles */

.heading {
  font-size: var(--text-size-4xl);
  font-weight: 800;
  line-height: 1.2;
}

.subheading {
  font-size: var(--text-size-2xl);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.text-intro {
  font-size: var(--text-size-lg);
  line-height: 1.4;
  margin-top: 1rem;
}

.text-sm {
  font-size: var(--text-size-sm);
}

.text-base {
  font-size: var(--text-size-base);
}

.text-lg {
  font-size: var(--text-size-lg);
}

.text-xl {
  font-size: var(--text-size-2xl);
}

.text-2xl {
  font-size: var(--text-size-3xl);
}

.font-serif {
  font-family: var(--font-family-serif);
}

.leading-tight {
  line-height: 1.4;
}

/* Layout styles */

.site-content-wrapper {
  width: 88%;
  margin-left: 6%;
  max-width: 1900px;
}

.block-container {
  max-width: 640px;
  margin: 2.5rem auto 0;
}

/* Header styles */

.site-header {
  text-align: center;
}

.site-header nav {
  padding: 1.5rem;
}

.site-header nav ul {
  padding: 0;
  margin: 0;
}

.site-header nav li {
  display: inline;
  padding: 0 0.2rem;
}

.site-header nav a {
  color: var(--lt-base-text-color);
  font-weight: 500;
  text-decoration: none;
  padding: 0 0.6rem;
  border-radius: 0.25rem;
  line-height: 2;
  display: inline-block;
  transition: background-color 0.2s linear;
}

.site-header nav a:hover {
  background-color: var(--grey-lightest);
}

/* Footer styles */

.site-footer {
  text-align: center;
}

.site-footer .block-container {
  margin-top: 4.5rem;
  margin-bottom: 4rem;
}

.site-footer ul {
  padding: 0;
}

.site-footer ul li {
  display: inline;
  padding: 0 0.2rem;
}

/* Article styles */

.article-header h1 {
  font-size: var(--text-size-4xl);
  font-weight: 800;
  line-height: 1.2;
}

.metadata {
  font-size: var(--text-size-sm);
  color: var(--grey-dark);
}

.article-header .metadata {
  margin-top: 1rem;
}

.article-content {
  line-height: 1.6;
}

.article-content h2 {
  font-size: var(--text-size-2xl);
  line-height: 1.4;
  margin-top: 2rem;
}

.article-content h3 {
  font-size: var(--text-size-lg);
  line-height: 1.25;
  margin-top: 2rem;
}

.article-content p {
  margin-top: 1rem;
}

.article-content blockquote {
  padding: 0 1rem;
  font-style: italic;
  border-left: 2px solid var(--grey-lighter);
}

.article-content code {
  font-size: var(--text-size-sm);
}

.article-content figure.highlight,
.article-content div.highlight {
  font-size: var(--text-size-xs);
  padding: 0.5rem 1rem;
  background: var(--grey-lightest);
  border: 1px solid var(--grey-lighter);
  border-radius: 0.75rem;
  overflow-x: scroll;
  margin-top: 1rem;
}

.article-content figure.highlight code,
.article-content div.highlight {
  font-size: var(--text-size-xs);
}

.article-footer {
  margin-top: 1rem;
}

.tag {
  font-size: var(--text-size-sm);
  color: var(--grey-dark);
  margin-left: 0.5rem;
}

.tag:first-child {
  margin: 0;
}

/* Post styles */

.post-list {
  margin-top: 2.5rem;
}

.post-list h2 {
  font-size: var(--text-size-2xl);
}

.post-item {
  margin-top: 1rem;
}

.post-item h3 {
  font-size: var(--text-size-lg);
  font-weight: 600;
}

.post-excerpt {
  font-size: var(--text-size-lg);
  margin-top: 0.5rem;
}

@media screen and (min-width: 640px) {
  .site-content-wrapper {
    width: 72%;
    margin-left: 14%;
  }

  .block-container {
    margin-top: 3rem;
  }

  .site-header nav li {
    padding: 0 0.4rem;
  }

  .site-footer .block-container {
    margin-top: 6rem;
  }

  .heading {
    font-size: var(--text-size-5xl);
  }

  .text-intro {
    font-size: var(--text-size-2xl);
  }

  .article-header h1 {
    font-size: var(--text-size-5xl);
  }

  .article-content {
    font-size: var(--text-size-lg);
    line-height: 1.7;
  }

  .tag {
    font-size: var(--text-size-base);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--dt-base-text-color);
    background-color: var(--dt-bg-color);
  }

  a {
    color: var(--dt-link-color);
  }

  a.link-underline {
    color: var(--dt-base-text-color);
  }

  .site-header nav a {
    color: var(--dt-base-text-color);
  }

  .site-header nav a:hover {
    background-color: var(--grey-darkest);
  }

  .article-content blockquote {
    border-left: 2px solid var(--grey-darker);
  }

  .article-content code {
    font-size: var(--text-size-base);
  }

  .article-content figure.highlight,
  .article-content div.highlight {
    font-size: var(--text-size-sm);
    background: var(--grey-darkest);
    border: 1px solid var(--grey-darker);
  }

  .article-content figure.highlight code,
  .article-content div.highlight {
    font-size: var(--text-size-sm);
  }

  .metadata {
    color: var(--grey-light);
  }

  .tag {
    color: var(--grey-light);
  }
}
