---
layout: default
---

<section class="block-container">
  <section>
    <h1 class="heading sans-serif">Weblog</h1>
    <p class="text-intro">
      I write every day. When I have something worth sharing, I publish it here.
      Alongside design, I write about topics that I consider important or are of
      <a href="/now#interests">interest</a>.
    </p>
  </section>
  <section class="post-list">
    {% for post in site.posts %} {% include post-excerpt.html %} {% endfor %}
  </section>
</section>
