---
layout: default
title: "Home"
---

<div class="block-container">
  <section>
    <h1 class="heading">Hey there!</h1>
    <p class="text-intro">
      I'm Aaron Moodie, a Melbourne based Product Designer currently leading design at <a href="https://muso.live">Muso</a>.
      Read more about what I’m doing <a href="/now">now</a>.
    </p>
  </section>
  <section class="post-list">
    <h3>Recent Posts</h3>
    {% for post in site.posts limit:3 %} {% include post-excerpt.html %} {%
    endfor %}
  </section>
</div>
