<footer class="site-footer site-content-wrapper">
  <div class="block-container">
    <ul>
      <li>
        <a href="mailto:hello@aaronmoodie.com" class="link-underline">Email</a>
      </li>
      <li><a href="/feed.xml" class="link-underline">RSS</a></li>
      <li>
        <a
          href="https://twitter.com/aaronmoodie"
          rel="me"
          class="link-underline"
          target="_blank"
          >Twitter</a
        >
      </li>
    </ul>
    <p>Aaron Moodie is a Product Designer based in Melbourne 🐨</p>
  </div>
</footer>
