@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 100;
	font-display: auto;
	src: url("Inter-Thin.woff2?v=3.19") format("woff2"),
			 url("Inter-Thin.woff?v=3.19") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 100;
	font-display: auto;
	src: url("Inter-ThinItalic.woff2?v=3.19") format("woff2"),
			 url("Inter-ThinItalic.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 600;
	font-display: auto;
	src: url("/fonts/Inter-SemiBold.woff2?v=3.19") format("woff2"),
			 url("/fonts/Inter-SemiBold.woff?v=3.19") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 600;
	font-display: auto;
	src: url("/fonts/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
			 url("/fonts/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: Bold;
	font-display: auto;
	src: url("/fonts/Inter-SemiBold.woff2?v=3.19") format("woff2"),
			 url("/fonts/Inter-SemiBold.woff?v=3.19") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: Bold;
	font-display: auto;
	src: url("/fonts/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
			 url("/fonts/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter V';
	font-weight: 100 900;
	font-display: auto;
	font-style: oblique 0deg 10deg;
	src: url("/fonts/Inter.var.woff2?v=3.19") format("woff2");
}