/* Breakpoints
'sm': '640px'
'md': '768px'
'lg': '1024px'
'xl': '1280px' */

/* Define variables */

:root {
  /* Text sizes */
  --base-text-size: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --base-line-height: 1.5;

  /* Font Families */
  --font-family: Inter V, ui-sans-serif, system-ui, -system-ui, -apple-system,
    BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif,
    "Apple Color Emoji";

  /* Colors */
  --foreground-color: #3b3b3b;
  --background-color: #FCFCFC;
  
  --wrap-max-width: 690px;
}

@media (prefers-color-scheme: dark) {
  :root {
   --foreground-color: #dae6f1;
   --background-color: #212121;
  }
}
