---
layout: default
---

<article class="article-container block-container">
  <!-- Header -->
  <header class="article-header">
    <h1>{{ page.title }}</h1>
    <p class="metadata">
      <time>{{ page.date | date: "%-d %B, %Y" }} • </time>
      <span>{{ page.content | reading_time }}</span>
    </p>
  </header>

  <!-- Content -->
  <section class="article-content">{{ content }}</section>

  {% unless page.tags == empty %}
  <!-- Footer -->
  <footer class="article-footer">
    <p class="tags">
      {% for tag in page.tags %}
      <!-- <a href="/tag/{{ tag | slugify }}" class="tag">#{{ tag }}</a> -->
      <span class="tag">#{{ tag }}</span>
      {% endfor %}
    </p>
  </footer>
  {% endunless %}
</article>
